body {

    background-color:rgb(195, 231, 241);
    
    }

nav ul {
    list-style: none; 
    padding: 4;
    margin: 0;
    justify-content: center;
  }
  
  
  nav ul li{
    display: inline-block;
    line-height: 4px;
    margin: 1px;
    justify-content: center;
}

nav ul li a {
    display: block;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none; 
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
    padding: 25px 60px;
  }

  h1{
    font-family: 'fenix';
    font-size: 25px; 
    text-transform: uppercase;
    text-shadow: 10px 10px 10px rgb(2, 1, 1);
    padding: 10px 10px;
}
 
h2{
    font-family: 'fenix';
    font-size: 25px; 
    text-transform: uppercase;
    text-shadow: 10px 10px 10px rgb(2, 1, 1);
    padding: 10px 10px;
}

h3{
    font-family: 'fenix';
    font-size: 25px;
    text-transform: uppercase;
    text-shadow: 10px 10px 10px rgb(2, 1, 1);
    padding: 10px 10px;
}

h4{
    font-family: 'fenix';
    font-size: 25px;
    text-transform: uppercase;
    text-shadow: 10px 10px 10px rgb(2, 1, 1);
    padding: 10px 10px;
}

footer{
    line-height: -25px;
    color:black  ;
    text-align: center;
  }

p{
    font-family: 'fenix';
    font-size: 23px;
    text-transform: lowercase;
    padding: 5px 5px;
}

ul {
    list-style-type: none;
    padding: 5px 5px;
}

li {
    margin: 10px 7px;
    padding: 0px
}


.pie-de-pagina {
    position: absolute; 
    bottom: -55%;
    width: 99%;
}