body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #f8f9fa, #e0e0e0);
  color: #333;
  margin: 0;
  padding: 0;
}
header {
  background: #f4f5f7;
  color: white;
  padding: 10px 0;
}
nav {
  background: #696268;
}
nav a {
  color: white;
}

nav ul {
  list-style: none; 
  padding: 4;
  margin: 0;
}

nav ul li{
  display: inline-block;
  line-height: 4px;
  margin: 1px;
  justify-content: center;
}

nav ul li a {
  display: block;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-decoration: none; 
  text-shadow: 10px 10px 10px rgb(0, 0, 0);
  padding: 30px 99px;
}
li a:hover{
  padding: 10px;
  color: rgb(223, 17, 223);
  transition: 4s;
  border: 1px solid;
  width: auto;
}

h1{
  font-family: Arial;
  font-size: 20px; 
  text-align: center;
  color:black;
}

h2{
  font-family: Arial;
  font-size: 20px; 
  color:black;
}

h3{
  font-family: Arial;
  font-size: 20px; 
  color:rgb(0, 0, 0);
}

p{
  font-family: serif;
  text-align: justify;
  font-size: 20px;
  margin: 10px;
  color:black;
}
.centro {
  position: absolute; 
  top: 70%; 
  left: 50%;
  transform: translate(-50% ,-50%); 
}


footer{
  line-height: 25px;
  color:black  ;
  text-align: center;
}


.pie-de-pagina {
  position: absolute; 
  bottom: -8%;
  width: 110%;
  text-shadow: 10px 10px 10px rgb(20, 20, 20);
  padding: 10px 10px;
}

footer {
  background: #39383a;
  color: white;
  text-align: center;
  padding: 10px 0;
}