body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #f8f9fa, #e0e0e0);
  color: #797474;
  margin: 0;
  padding: 0;
}
header {
  background: #f4f5f7;
  color: white;
  padding: 10px 0;
}
nav {
  background: #7e7a7d;
}
nav a {
  color: white;
}

nav ul {
  list-style: none; 
  padding: 10;
  margin: 0;
}

nav ul li{
  display: inline-block;
  line-height: 7px;
  margin: 1px;
  justify-content: center;
}

nav ul li a {
  display: block;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-decoration: none; 
  text-shadow: 10px 10px 10px rgb(0, 0, 0);
  padding: 30px 100px;
}
li a:hover{
  padding: 10px;
  color: rgb(221, 13, 221);
  transition: 4s;
  border: 1px solid;
  width: auto;
}

h1{
  font-family: Arial;
  font-size: 25px; 
  text-align: center;
  color:black;
}

h2{
  font-family: Arial;
  font-size: 20px; 
  color:black;
}

h3{
  font-family: Arial;
  font-size: 20px; 
  color:rgb(10, 10, 10);
}

p{
  font-family: serif;
  text-align: justify;
  font-size: 20px;
  margin: 10px;
  color:black;
}
.centro {
  position: absolute; 
  top: 70%; 
  left: 50%;
  transform: translate(-50% ,-50%); 
}

body {
  margin: 0;
  padding: 0;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

img {
  scroll-snap-align: start;
  width: 10%;
}

footer{
  line-height: 25px;
  color:black  ;
  text-align: center;
}


.pie-de-pagina {
  position: absolute; 
  bottom: -8%;
  width: 110%;
  text-shadow: 10px 10px 10px rgb(20, 20, 20);
  padding: 10px 10px;
}

footer {
  background: #39383a;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.brand-logo{
  width: 800px;
  height: 16px;
}