body {

    background-color:rgb(195, 231, 241);
    
    }

nav ul {
    list-style: none; 
    padding: 4;
    margin: 0;
    justify-content: center;
  }
  
  
  nav ul li{
    display: inline-block;
    line-height: 4px;
    margin: 1px;
    justify-content: center;
}

nav ul li a {
    display: block;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none; 
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
    padding: 25px 60px;
  }

  h1{
    font-family: Arial;
    font-size: 20px; 
    text-align: center;
}
 
h2{
    font-family: Arial;
    font-size: 20px; 
}

p{
    font-family: serif;
    text-align: justify;
    font-size: 20px;
    margin: 10px;
  }
  .centro {
    position: absolute; 
    top: 70%; 
    left: 50%;
    transform: translate(-50% ,-50%); 
  }


  footer{
    line-height: 25px;
    color:black  ;
    text-align: center;
  }


  .pie-de-pagina {
    position: absolute; 
    bottom: -8%;
    width: 110%;
    text-shadow: 10px 10px 10px rgb(20, 20, 20);
    padding: 10px 10px;
}

  
 